.login-container {
  max-width: 600px;
  margin: 5rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-container input {
  width: 70%;
  height: 3rem;
  border-radius: 5px;
  border: 0px;
  text-align: center;
  background-color: #a0b7f7;
}

.login-container button {
  width: 70%;
  height: 3rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.884);
  color: var(--theme-color);
  font-weight: 600;
  cursor: pointer;
}

.login-container button.secondary-btn {
  border: 2px solid rgba(255, 255, 255, 0.884);
  background-color: var(--theme-color);
  color: rgba(255, 255, 255, 0.986);
}

@media only screen and (max-width: 650px) {
  .login-container input {
    width: 85%;
  }
  .login-container button {
    width: 85%;
    height: fit-content;
    padding: 0.8rem;
  }
}
