.header {
  color: white;
  line-height: 1.2;
}

.container {
  height: 100vh;
  gap: 2rem;
}

.todo-body {
  background-color: white;
  flex: 1 1 auto;
  border-radius: 30px 30px 0px 0px;
}

.todo-header {
  padding: 0 5rem;
  line-height: 1.2;
  align-items: center;
}

.add-btn {
  color: var(--theme-color);
  cursor: pointer;
}

.todo-container {
  padding: 0 7rem;
  gap: 1rem;
}

.todo-item {
  height: 80px;
  gap: 1rem;
  padding: 1rem;
}

.todo-item .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--theme-color);
  cursor: pointer;
  flex-shrink: 0;
}

.todo-text {
  height: 100%;
  margin-right: auto;
  overflow-y: scroll;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.todo-text::-webkit-scrollbar {
  width: 10px;
  background: var(--light-dark-color);
}

.todo-text::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--theme-color);
}

.todo-btn {
  color: var(--theme-color);
  justify-self: flex-end;
  gap: 0.8rem;
}

.todo-btn i {
  font-size: 1.2rem;
  cursor: pointer;
}

.pop_up_background {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 20;
}

.pop_up_input {
  width: 30rem;
  height: fit-content;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  border-radius: 15px;
}

.pop_up_input .cross {
  position: absolute;
  top: 0.2rem;
  right: 1rem;
  cursor: pointer;
}

.pop_up_input .input {
  border-radius: 5px;
  width: 100%;
  height: 3rem;
  border: none;
  outline: 1px solid var(--theme-color);
  background-color: rgba(9, 117, 9, 0.171);
}

.pop_up_input .input-description {
  height: 8rem;
}

.pop_up_input .btn {
  width: 6rem;
  height: 2.5rem;
  cursor: pointer;
}

.pop_up_input .btn-primary {
  margin-right: auto;
}

@media only screen and (max-width: 650px) {
  .todo-header {
    padding: 0 1rem;
  }

  .todo-item {
    height: 100px;
  }
  .todo-container {
    padding: 0 1.5rem;
  }

  .pop_up_input {
    width: 20rem;
  }
}
