@import url("https://pinakin-ui.netlify.app/data/style.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #577de6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --theme-color: #577de6;
  --secondary-color: #e6e6e6;
  --dark-theme-color: #2d4a9c;
  --dark-secondary-color: #b6b4b4;
  --white-color:white
  --dark-background-color: #111111ec;
  --light-dark-color: rgba(17, 17, 17, 0.171);
  --dark-dark-color: rgba(48, 47, 47, 0.37);

  /* ########## Text - color ##################### */
  --text-color: #444444;
  scroll-behavior: smooth;
}

.text-align {
  text-align: center;
}

.bg-lighest-th-colour {
  background-color: #bb453046;
}

.theme-color {
  color: var(--theme-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

button {
  background-color: inherit;
  border-style: none;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.hundred-w {
  width: 100%;
}

.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  max-width: 80%;
  margin: 0rem auto;
}

.btn-container {
  display: flex;
  gap: 1.5rem;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align {
  display: flex;
  align-items: center;
}

.jst-sp-ar {
  justify-content: space-around;
}

.jst-sp-sb {
  justify-content: space-between;
}

.jst-sp-st {
  justify-content: flex-start;
}

.ali-st {
  align-items: flex-start;
}

.ali-ce {
  align-items: center;
}

.spacer {
  height: 1px;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  background-color: var(--dark-dark-color);
}

.hr-line {
  height: 1px;
  width: 100%;
  background-color: var(--dark-dark-color);
}

.margin-req {
  height: 4rem;
}

.thin-bor {
  border-radius: 5px;
  border: 2px solid var(--light-dark-color);
}

.z-ind-neg {
  z-index: -1;
}

.z-ind-1 {
  z-index: 1;
}

.z-ind-2 {
  z-index: 2;
}

.z-ind-3 {
  z-index: 3;
}

/* ################################ Text and headings ############################# */

.f-h {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.s-h {
  font-size: 1.5rem;
  font-weight: 700;
}

.t-h {
  font-size: 1.2rem;
  font-weight: 700;
}

/* ################################### Padding In all Direction ################## */

.pad-2px {
  padding: 2px;
}

.pad-0-5 {
  padding: 0.5rem;
}

.pad-0-8 {
  padding: 0.8rem;
}

.pad-1 {
  padding: 1rem;
}

.pad-1-5 {
  padding: 1.5rem;
}

.pad-2 {
  padding: 2rem;
}

.pad-3 {
  padding: 3rem;
}

.pad-4 {
  padding: 4rem;
}

.pad-1-2 {
  padding: 1rem 2rem;
}

.pad-1-3 {
  padding: 1rem 3rem;
}
.pad-2-1 {
  padding: 2rem 1rem;
}

.pad-1-0 {
  padding: 1rem 0rem;
}

/* #################################### Padding-Top ################################### */

.pad-t-0-5 {
  padding-top: 0.5rem;
}

.pad-t-1 {
  padding-top: 1rem;
}

.pad-t-1-2 {
  padding-top: 1.2rem;
}

.pad-t-1-5 {
  padding-top: 1.5rem;
}

.pad-t-2 {
  padding-top: 2rem;
}

.pad-t-3 {
  padding-top: 3rem;
}

.pad-t-5 {
  padding-top: 5rem;
}

.pad-t-8{
  padding-top: 8rem;
}

/* ##################################### Padding bottom ######################### */

.pad-b-0-5 {
  padding-bottom: 0.5rem;
}

.pad-b-1 {
  padding-bottom: 1rem;
}

.pad-b-1-2 {
  padding-bottom: 1.2rem;
}

.pad-b-1-5 {
  padding-bottom: 1.5rem;
}

.pad-b-2 {
  padding-bottom: 2rem;
}

.pad-b-3 {
  padding-bottom: 3rem;
}

.pad-b-5 {
  padding-bottom: 5rem;
}

.pad-b-10 {
  padding-bottom: 10rem;
}

/* ######################################### Padding-left ####################### */

.pad-l-0-5 {
  padding-left: 0.5rem;
}

.pad-l-1 {
  padding-left: 1rem;
}

.pad-l-1-2 {
  padding-left: 1.2rem;
}

.pad-l-1-5 {
  padding-left: 1.5rem;
}

.pad-l-2 {
  padding-left: 2rem;
}

.pad-l-3 {
  padding-left: 3rem;
}

.pad-l-5 {
  padding-left: 5rem;
}

/* ###################################### Padding right ###############################*/

.pad-r-0-5 {
  padding-right: 0.5rem;
}

.pad-r-1 {
  padding-right: 1rem;
}

.pad-r-1-2 {
  padding-right: 1.2rem;
}

.pad-r-1-5 {
  padding-right: 1.5rem;
}

.pad-r-2 {
  padding-right: 2rem;
}

.pad-r-3 {
  padding-right: 3rem;
}

.pad-r-5 {
  padding-right: 5rem;
}

/* ################################### Padding-left-right   #################### */

.pad-lr-0-5 {
  padding: 0rem 0.5rem;
}

.pad-lr-1 {
  padding: 0rem 1rem;
}

.pad-lr-1-2 {
  padding: 0rem 1.2rem;
}

.pad-lr-1-5 {
  padding: 0rem 1.5rem;
}

.pad-lr-2 {
  padding: 0rem 2rem;
}

.pad-lr-3 {
  padding: 0rem 3rem;
}

.pad-lr-5 {
  padding: 0rem 5rem;
}

/* ####################################### Padding top-bottom ############################# */

.pad-tb-0-5 {
  padding: 0.5rem 0rem;
}

.pad-tb-1 {
  padding: 1rem 0rem;
}

.pad-tb-1-2 {
  padding: 1.2rem 0rem;
}

.pad-tb-1-5 {
  padding: 1.5rem 0rem;
}

.pad-tb-2 {
  padding: 2rem 0rem;
}

.pad-tb-3 {
  padding: 3rem 0rem;
}

.pad-tb-5 {
  padding: 5rem 0rem;
}

/* ########################################## Margin-top ############################## */

.mar-t-0-5 {
  margin-top: 0.5rem;
}

.mar-t-1 {
  margin-top: 1rem;
}

.mar-t-1-2 {
  margin-top: 1.2rem;
}

.mar-t-1-5 {
  margin-top: 1.5rem;
}

.mar-t-2 {
  margin-top: 2rem;
}

.mar-t-3 {
  margin-top: 3rem;
}

.mar-t-5 {
  margin-top: 5rem;
}

/* ######################################## Margin-Left ########################## */

.mar-l-0-5 {
  margin-left: 0.5rem;
}

.mar-l-1 {
  margin-left: 1rem;
}

.mar-l-1-2 {
  margin-left: 1.2rem;
}

.mar-l-1-5 {
  margin-left: 1.5rem;
}

.mar-l-2 {
  margin-left: 2rem;
}

.mar-l-3 {
  margin-left: 3rem;
}

.mar-l-5 {
  margin-left: 5rem;
}

/* ########################################### Margin-Bottom ###################### */

.mar-b-0-5 {
  margin-bottom: 0.5rem;
}

.mar-b-1 {
  margin-bottom: 1rem;
}

.mar-b-1-2 {
  margin-bottom: 1.2rem;
}

.mar-b-1-5 {
  margin-bottom: 1.5rem;
}

.mar-b-2 {
  margin-bottom: 2rem;
}

.mar-b-3 {
  margin-bottom: 3rem;
}

.mar-b-5 {
  margin-bottom: 5rem;
}

/* ############################################# Margin-Right ############################# */

.mar-r-0-5 {
  margin-right: 0.5rem;
}

.mar-r-1 {
  margin-right: 1rem;
}

.mar-r-1-2 {
  margin-right: 1.2rem;
}

.mar-r-1-5 {
  margin-right: 1.5rem;
}

.mar-r-2 {
  margin-right: 2rem;
}

.mar-r-3 {
  margin-right: 3rem;
}

.mar-r-5 {
  margin-right: 5rem;
}

/* ######################################### Margin-Auto ################################# */

.mar-l-auto {
  margin-left: auto;
}

.mar-r-auto {
  margin-right: auto;
}

.mar-c-auto {
  margin: 0 auto;
}

/* ########################################## Gap ######################################## */

.gap-0-1 {
  gap: 0.2rem;
}

.gap-0-5 {
  gap: 0.5rem;
}

.gap-0-8 {
  gap: 0.8rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-2-5 {
  gap: 2.5rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-5 {
  gap: 5rem;
}

.gap-6 {
  gap: 6rem;
}

.gap-10 {
  gap: 10rem;
}

/* ######################################## Font-size  #################################### */

.fnt-0-5 {
  font-size: 0.5rem;
}

.fnt-0-8 {
  font-size: 0.8rem;
}

.fnt-1 {
  font-size: 1rem;
}

.fnt-1-2 {
  font-size: 1.2rem;
}

.fnt-1-5 {
  font-size: 1.5rem;
}

.fnt-2 {
  font-size: 2rem;
}

.fnt-3 {
  font-size: 3rem;
}

.fnt-5 {
  font-size: 5rem;
}

/* ##################################### Font-weight ####################### */

.fnt-w-200 {
  font-weight: 200;
}

.fnt-w-300 {
  font-weight: 300;
}

.fnt-w-400 {
  font-weight: 400;
}

.fnt-w-500 {
  font-weight: 500;
}

.fnt-w-600 {
  font-weight: 600;
}

.fnt-w-800 {
  font-weight: 800;
}

.fnt-w-900 {
  font-weight: 900;
}

.normal-text {
  line-height: 1.5;
  font-size: 1.2rem;
}

/* ################################################### Code-Container ############################## */

.code-container {
  margin: 1rem auto;
}

.btn-secondary{
  border: 1px solid var(--theme-color);
}

.color-white{
  color: rgba(255, 255, 255, 0.911);
}

